<h3>Connection Manager</h3>

<% jquery_path = File.expand_path(File.join(Redcar.root, %w(plugins html_view assets jquery-1.4.min.js))) %>
<script type="text/javascript" src="file://<%= jquery_path %>"></script>

<% redcar_css = File.expand_path(File.join(Redcar.root, %w(plugins html_view assets redcar.css))) %>
<link rel="stylesheet" href="file://<%= redcar_css %>" type="text/css" media="screen">

<h5>Connections</h5>
<div id='connections'>
<% if connections and connections.any? %>
  <table id='table'>
    <tr class='grey' style='font-weight:bold;'>
      <td>Name</td>
      <td>Protocol</td>
      <td>Host</td>
      <td>Port</td>
      <td>User</td>
      <td>Remote Path</td>
    </tr>
    
    <% connections.each do |c| %>
      <tr id='row-<%= c.name %>'>
        <td><a href='javscript:void(0);' class='activate connection-name'><%= c.name %></a></td>
        <td><%= c.protocol %></td>
        <td><%= c.host %></td>
        <td><%= c.port %></td>
        <td><%= c.user %></td>
        <td><%= c.path %></td>
        <td>
          <a href='javascript:void(0);' class='delete'">Delete</a>
          <a href='javascript:void(0);' class='modify'">Modify</a>
        </td>
      </tr>      
    <% end %>
  </table>
<% else %>
  <p>No connections</p>
<% end %>

  <p>
    <input id='add' type='button' value='Add Connection'>
  </p>
</div>

<p>
  <div id='add_div' style='display:none;'>
    <div id='error' style='display:none;color:red;text-weight:bold;margin-bottom:20px;'></div>
    <form id='new_connection'>
      <input type='hidden' name='operation' id='operation'>
      <table>
        <tr class='grey'>
          <td colspan=2><b><span id='conn_name'>New Connection</span></b></td>
        </tr>
        <tr><td>Name:     </td><td><input size='30' type='text' name='name' id='name'></td></tr>
        <tr>
          <td>Protocol: </td>
          <td>
            <select name='protocol' id='protocol'>
              <option></option>
              <option>SFTP</option>
              <option>FTP</option>
            </select>
          </td>
        </tr>
        <tr><td>Host:        </td><td><input size="30" type='text' name='host' id='host'></td></tr>
        <tr><td>Port:        </td><td><input type='text' name='port' id='port' size=2></td></tr>
        <tr><td>User:        </td><td><input size="30" type='text' name='user' id='user'></td></tr>
        <tr><td>Remote Path: </td><td><input size="30" type='text' name='path' id='path'></td></tr>
        <tr>
          <td colspan=2>
            <input id='save' type='submit' value='Save'>
            <input id='cancel' type='button' value='Cancel'>
          </td>
        </tr>
      </table>
    </form>
  </div>
</p>

<h5>Private Keys</h5>
<div id="private-keys">
  <div class="list">
    <% if (private_key_files + auto_detected_private_key_files).any? %>
      <table>
      <% auto_detected_private_key_files.each do |private_key| %>
        <tr>
          <td><%= private_key %></td>
        </tr>
      <% end %>
      <% private_key_files.each do |private_key| %>
        <tr>
          <td><%= private_key %></td>
          <td>
            <a href='javascript:void(0);' class='delete-key' data-name="<%= private_key %>">Delete</a>
          </td>
        </tr>
      <% end %>
      </table>
    <% else %>
      No private keys.
    <% end %>
  </div>
  <br />
  <input id='add-private-key-button' type='button' value='Add Private Key'>

  <div id='add-private-key' style='display:none;'>
    <div class='error' style='display:none;color:red;text-weight:bold;margin-bottom:20px;'></div>
    
    <form id='add-private-key-form'>
      <input type='hidden' name='operation' class='operation'>
      <table>
        <tr class='grey'>
          <td colspan=2><b><span>New Private Key</span></b></td>
        </tr>
        <tr><td>Key file: </td><td><input size="30" type='text' class="path" name='path'></td></tr>
        <tr>
          <td colspan=2>
            <input class='save' type='submit' value='Save'>
            <input class='cancel' type='button' value='Cancel'>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  function showMain() {
    $(':input','#new_connection')
      .not(':button, :submit, :reset, :hidden')
      .val('')
      .removeAttr('checked')
      .removeAttr('selected');  

    $('#add_div').hide();
    $('#connections').show();
  };

  var PORTS = {
    'FTP': 21, 'SFTP': 22
  };
  
  $('.delete').live('click', function() {
    var name = $(this).parent().parent().find(".connection-name").text();
    try {
      if (confirm('Do you really want to delete connection ' + name + '?')) {
        Controller.deleteConnection(name);
        Controller.reloadIndex();
      }
    }
    catch(err) {
      alert("Error: " + err.message);
    }
  });
  
  $('.modify').live('click', function() {
    var name = $(this).parent().parent().find(".connection-name").text();
    $('#error').html("");
    $('#conn_name').text('Editing ' + name);
    $('#connections').hide();
    $('#add_div').show();
    $('#protocol').focus();
    $('#name').attr('disabled', 'disabled');

    var data = Controller.getConnection(name);
    if (data) {
      $('#operation').val('update');
      $('#name').val(name);
      $('#protocol').val(data.protocol);
      $('#host').val(data.host);
      $('#port').val(data.port);
      $('#user').val(data.user);
      $('#path').val(data.path);
    }
  });

  $('#protocol').change(function(e) {
    $('#port').val(PORTS[$(this).val()]);
  });

  $('#add').click(function() {
    $('#error').html("");
    $('#conn_name').text('New Connection');
    $('#operation').val('insert');
    $('#connections').hide();
    $('#add_div').show();
    $('#name').focus();
  });

  $('#cancel').click(function() {
    $('#error').html("");
    showMain();
  });

  $("#new_connection").submit(function(e) {
    try {
      $('#name').removeAttr('disabled');
      var name = $('#name').val();
      var protocol = $('#protocol').val();
      var host = $('#host').val();
      var port = $('#port').val();
      var user = $('#user').val();
      var path = $('#path').val();

      if ($('#operation').val() == 'insert') {
        result = Controller.addConnection(name, protocol, host, port, user, path);
      }
      else {
        result = Controller.updateConnection(name, protocol, host, port, user, path);
      }
      
      if (result.success === false) {
        $('#error').html(result.error);
        $('#error').show();
        $('#name').focus();
      }
      else {
        Controller.reloadIndex();
      }
    }
    catch(err) {
      alert("Error: " + error.message);
    }
    return false;
  });
  
  $(".activate").click(function(e) {
    var name = $(this).parent().parent().find(".connection-name").text();
    Controller.activateConnection(name);
  });
  
  $("#add-private-key-button").click(function() {
    $("#add-private-key-button").hide();
    $("#add-private-key").show();
    $("#private-keys .list").hide();
  });

  $("#add-private-key-form .cancel").click(function() {
    $("#add-private-key-button").show();
    $("#add-private-key").hide();
    $("#private-keys .list").show();
  });

  $("#add-private-key-form").submit(function(e) {
    try {
      var result = Controller.addPrivateKeyFile($("#add-private-key-form .path").val());

      if (result.success === false) {
        $('#add-private-key .error').html(result.error);
        $('#add-private-key .error').show();
        $('#add-private-key-form .path').focus();
      }
      else {
        Controller.reloadIndex();
      }
    }
    catch(err) {
      alert("Error: " + error.message);
    }
    return false;
  });

  $("#private-keys .list .delete-key").click(function() {
    var path = $(this).attr('data-name');
    try {
      Controller.removePrivateKeyFile(path);
      Controller.reloadIndex();
    }
    catch(err) {
      alert("Error: " + err.message);
    }
  });

});

</script>
