<% jquery_path = File.expand_path(File.join(Redcar.root, %w(plugins html_view assets jquery-1.4.min.js))) %>
<script type="text/javascript" src="file://<%= jquery_path %>"></script>

<% css_path = @plugin_path + "/stylesheets/style.css" %>
<link rel="stylesheet" href="file://<%= css_path %>" type="text/css" media="screen">
<h3>Find in project</h3>
<form id="form">
  <label for="query">Find:</label>
  <input id="query" type="text" value="<%= @query %>"/> (regex)
  <input id="search" type="submit" value="Find in project"/>
  <br />
  <label for="match_case">
    <input type="checkbox" id="match_case" <%="checked=checked" if @match_case %>> Match case
  </label>
  <br />
  <div id="show_options">
    <a href="#" >Show advanced options</a>
  </div>
  <div id="advanced_options">
    <label for="dirs">Exclude dirs:</label>
    <input id="dirs" type="text" value="<%= @dirs %>"/>
    <br />
    <label for="files">Exclude files:</label>
    <input id="files" type="text" value="<%= @files %>"/>
    <br />
    <label for="includes">Include files:</label>
    <input id="includes" type="text" value="<%= @includes %>"/>
    <br />
    <label for="lines">Number of results:</label>
    <input id="lines" type="text" value="<%= @lines %>"/>
    <br />
  </div>
</form>
<div id="output">
<table>
<% @outputs ||= []%>
<% @outputs.each do |line| %>
  <% out = line.split(':', 3) %>
  <tr>
    <td class="location">
    <a href="<%= out[0] %>" line="<%= out[1] %>" regex="<%= @query.gsub("/", "\\/").gsub("\"", "\\\"") %>"><%= out[0] %></a>
    </td>
    <td class="lines">
      <%= out[1] %>
    </td>
    <td class="content">
      <%= CGI.escapeHTML(out[2] || "").gsub(( @match_case ? /(#{@query.gsub("/", "\\/")})/ : /(#{@query.gsub("/", "\\/")})/i), '<b>\1</b>') %>
    </td>
  </tr>
<% end %>
</table>
</div>

<script language="javascript">

  $(document).ready(function() {
    $('#form').submit(function() {
      var query = $("#query").val();
      var search = $("#search");
      var files = $("#files").val();
      var dirs = $("#dirs").val();
      var includes = $("#includes").val();
      var lines = $("#lines").val();
      var match_case = "false"    
      if ($('#match_case').attr('checked')) {
       match_case = "true";
    }    
    try {
        Controller.find(query, files, dirs, includes, lines, match_case);
      } catch(e) {
        alert(e.message);
      }
      return false;
    });
    
    $("table a").click(function(e) {
      e.preventDefault(); 
      try {
        Controller.openFile($(this).attr('href'), $(this).attr('line'), $(this).attr('regex'), <%= @match_case ? 'true' : 'false' %>);
      } catch(e) {
        alert(e.message);
      }
    });
    
    $("#show_options a").click(function(e) {
      e.preventDefault(); 
      $("#advanced_options").show();
      $(this).hide();
    });
    $("#query").focus().select();
  });

  
</script>