
<script type="text/javascript" src="file://<%= Redcar::HtmlView.jquery_path %>"></script>
<link rel="stylesheet" href="file://<%= Redcar::HtmlView.default_css_path %>" type="text/css" media="screen">
<%= stylesheet_link_tag :default %>
<%= stylesheet_link_tag :basic_ansi %>

<h3><%= @title %></h3>
<pre><%= command %></pre>
<hr />
<div id="output">
</div>