<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= stylesheet_link_tag :reset, :default, :basic_ansi %>
  </head>
  <body>
    <script type="text/javascript" src="file://<%= Redcar::HtmlView.jquery_path %>"></script>
    <h1><%= @title %></h1>
    <div id="container">
      <div class="command">
        <%= @cmd %>
      </div>
    </div>
  </body>
</html>
