<% jquery_path = File.expand_path(File.join(Redcar.root, %w(plugins html_view assets jquery-1.4.min.js))) %>
<script type="text/javascript" src="file://<%= jquery_path %>"></script>
<% json_path = File.expand_path(File.join(Redcar.root, %w(plugins html_view assets json2.js))) %>
<script type="text/javascript" src="file://<%= json_path %>"></script>

<% plugin_css = File.expand_path(File.join(plugin_root, %w(lib project_search stylesheets style.css))) %>
<link rel="stylesheet" href="file://<%= plugin_css %>" type="text/css" media="screen">

<% image_path = File.expand_path(File.join(plugin_root, %w(lib project_search images))) %>

<div id="search_form_container">
  <form id="search_form">
    <table>
      <tr class="input">
        <td class="label"><label for="query">Search Term</label></td>
        <td class="field">
          <input id="query" type="text" value="<%= default_query %>" />
          
          <!-- keeps a cache of the current query so if the user changes the query field, this remains the same as the results -->
          <input id="cached_query" type="hidden" />

          <div id="recent_queries" style="display: none;">
            <ul>
              <% (settings['recent_queries'] || []).each do |query| %>
                <li><%= CGI::escapeHTML(query) %></li>
              <% end %>
            </ul>
          </div>
        </td>
        <td class="expand">
          <a href="#" title="Toggle Recent Queries" id="toggle_recent_queries">&darr;</a>
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="controls">
          <input id="search" type="submit" value="Find In Project" />
          <img id="spinner" src="<%= image_path %>/spinner.gif" style="display:none;" />
          <% if show_literal_match_option? %>
          <input type="checkbox" id="literal_match" <%="checked=checked" if @literal_match %>>
            <label for="literal_match">Literal Match</label>
          <% end %>
          <input type="checkbox" id="match_case" <%="checked=checked" if match_case? %>>
          <label for="match_case">Match case</label>
          <input type="checkbox" id="with_context" <%="checked=checked" if context? %>>
          <label for="with_context">With context</label>
          <%= search_copy %>
          <a href="#" title="Edit Preferences" id="edit_preferences">Edit Preferences...</a>
        </td>
        <td></td>
      </tr>
    </table>
  </form>
</div>

<div id="results_container">
  <div id="results">
    <div id="no_results">
      Please provide a search term above.
    </div>
  </div>
</div>

<div id="results_summary" style="display: none;">
  <div class="text">
    <span id="line_results_count">0</span> lines matched in <span id="file_results_count">0</span> files
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#query').trigger('focus');

    $('#search_form').submit(function(ev) {
      ev.preventDefault();
      try {
        if ($("#literal_match").attr('checked')) { var literal_match = 'true'; } else { var literal_match = 'false'; }
        if ($("#match_case").attr('checked')) { var match_case = 'true'; } else { var match_case = 'false'; }
        if ($("#with_context").attr('checked')) { var with_context = 'true'; } else { var with_context = 'false'; }
        Controller.search($("#query").val(), literal_match, match_case, with_context);
      } catch(e) {
        alert(e.message);
      }
    });

    $('#query').keyup(function(ev) {
      if ($(this).val() == '') {
        $('input[type=submit]').attr('disabled', 'disabled');
      } else {
        $('input[type=submit]').attr('disabled', '');
      }
    });
    $('#query').trigger('keyup');

    $('#toggle_recent_queries').click(function(ev) {
      ev.preventDefault();
      if ($('#recent_queries').is(":visible")) {
        $('#recent_queries').hide();
      } else {
        $('#recent_queries').show();
      }
    });
    
    $('#edit_preferences').click(function(ev) {
      Controller.editPreferences();
    });

    // in the case the user wants to search for things like <table>, we need to unescape the entities
    String.prototype.unescapeHTML = function() {
      var t = document.createElement('div');
      t.innerHTML = this;
      return t.firstChild.nodeValue;
    }

    $('#recent_queries li').click(function(ev) {
      ev.preventDefault();
      $('#query').val($(this).html().unescapeHTML());
      $('#query').trigger('keyup');
      $('#recent_queries').hide();
    });

    // need to use live here so that results added will be caught
    $('.result').live('click', function(ev) {
      ev.preventDefault();
      try {
        if ($("#literal_match").attr('checked')) { var literal_match = 'true'; } else { var literal_match = 'false'; }
        if ($("#match_case").attr('checked')) { var match_case = 'true'; } else { var match_case = 'false'; }
        Controller.openFile($(this).attr('data-href'), $(this).attr('data-line_num'), $("#cached_query").val(), literal_match, match_case);
      } catch(e) {
        alert(e.message);
      }
    });

    // need to use live here so that results added will be caught
    $('.expand_collapse').live('click', function(ev) {
      ev.preventDefault();
      var file_num = $(this).attr('data-file_num');
      if ($(".file_" + file_num).first().is(":visible")) {
        $('img', this).attr('src', '<%= image_path %>/collapsed.png');
        $(".file_" + file_num).hide();
      } else {
        $('img', this).attr('src', '<%= image_path %>/expanded.png');
        $(".file_" + file_num).show();
      }
    });
  });
</script>
