<% jquery_path = File.expand_path(File.join(Redcar.root, %w(plugins html_view assets jquery-1.4.min.js))) %>
<script type="text/javascript" src="file://<%= jquery_path %>"></script>

<% plugin_css = File.expand_path(File.join(@plugin_root, %w(lib find_in_project stylesheets style.css))) %>
<link rel="stylesheet" href="file://<%= plugin_css %>" type="text/css" media="screen">

<% image_path = File.expand_path(File.join(@plugin_root, %w(lib find_in_project images))) %>

<div id="search_container">
  <form id="search_form">
    <table>
      <tr class="input">
        <td class="label"><label for="query">Search Term</label></td>
        <td class="field">
          <input id="query" type="text" value="<%= @query %>" />
          <div id="recent_queries" style="display: none;">
            <ul>
              <% (@settings['recent_queries'] || []).each do |query| %>
                <li><%= query %></li>
              <% end %>
            </ul>
          </div>
        </td>
        <td class="expand">
          <a href="#" title="Toggle Recent Queries" id="toggle_recent_queries">&darr;</a>
        </td>
      </tr>
      <tr class="input">
        <td class="label"><label for="options">Options</label></td>
        <td class="field">
          <input id="options" type="text" value="<%= @options %>" />
          <div id="recent_options" style="display: none;">
            <ul>
              <% (@settings['recent_options'] || []).each do |option| %>
                <li><%= option %></li>
              <% end %>
            </ul>
          </div>
        </td>
        <td class="expand">
          <a href="#" title="Toggle Recent Options" id="toggle_recent_options">&darr;</a>
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="controls">
          <input id="search" type="submit" value="Find In Project" />
          <input type="checkbox" id="match_case" <%="checked=checked" if @match_case %>>
          <label for="match_case">Match case</label>
        </td>
        <td></td>
      </tr>
    </table>
  </form>
</div>

<% if @results.nil? %>
  <div id="no_results">
    Please provide a search term above.
  </div>
<% elsif @results.empty? %>
  <div id="no_results">
    No results were found using the search terms you provided.
  </div>
<% else %>
  <div id="results">
    <table>
      <% @results.each_with_index do |result, file_index| %>
        <% filename, matches = result[0].gsub(/^\.\//, ''), result[1] %>
        <tr>
          <td class='expand'><img class="expand_collapse" src="<%= image_path %>/expanded.png" data-file_index="<%= file_index %>" /></td>
          <td class='filename'><%= filename %></td>
        </tr>
        <% matches.each_with_index do |(line, text), line_index| %>
          <% text = CGI.escapeHTML(text).gsub((@match_case ? /(#{@query})/ : /(#{@query})/i)) { "<em>#{$1}</em>" } %>
          <tr class="line_for_<%= file_index %> result <%= (line_index % 2 == 0 ? 'even' : 'odd') %>" data-href='<%= filename %>' data-line_no='<%= line %>'>
            <td class='line_no'><%= line %></td>
            <td class='text'><pre><%= text %></pre></td>
          </tr>
        <% end %>
        <tr><td class='break' colspan='2'></td></tr>
      <% end %>
    </table>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#query').trigger('focus');

    $('#search_form').submit(function(ev) {
      ev.preventDefault();
      try {
        if ($("#match_case").attr('checked')) { var match_case = 'true'; } else { var match_case = 'false'; }
        Controller.search($("#query").val(), $("#options").val(), match_case);
      } catch(e) {
        alert(e.message);
      }
    });

    $('#query').keyup(function(ev) {
      if ($(this).val() == '') {
        $('input[type=submit]').attr('disabled', 'disabled');
      } else {
        $('input[type=submit]').attr('disabled', '');
      }
    });
    $('#query').trigger('keyup');

    $('#toggle_recent_queries').click(function(ev) {
      ev.preventDefault();
      if ($('#recent_queries').is(":visible")) {
        $('#recent_queries').hide();
      } else {
        $('#recent_queries').show();
      }
    });

    $('#recent_queries li').click(function(ev) {
      ev.preventDefault();
      $('#query').val($(this).html());
      $('#query').trigger('keyup');
      $('#recent_queries').hide();
    });

    $('#toggle_recent_options').click(function(ev) {
      ev.preventDefault();
      if ($('#recent_options').is(":visible")) {
        $('#recent_options').hide();
      } else {
        $('#recent_options').show();
      }
    });

    $('#recent_options li').click(function(ev) {
      ev.preventDefault();
      $('#options').val($(this).html());
      $('#recent_options').hide();
    });

    $('.result').click(function(ev) {
      ev.preventDefault();
      try {
        Controller.openFile($(this).attr('data-href'), $(this).attr('data-line_no'), "<%= @query %>", <%= @match_case ? 'true' : 'false' %>);
      } catch(e) {
        alert(e.message);
      }
    });

    $('.expand_collapse').click(function(ev) {
      ev.preventDefault();
      var file_index = $(this).attr('data-file_index');
      if ($(".line_for_" + file_index).first().is(":visible")) {
        $(this).attr('src', '<%= image_path %>/collapsed.png');
        $(".line_for_" + file_index).hide();
      } else {
        $(this).attr('src', '<%= image_path %>/expanded.png');
        $(".line_for_" + file_index).show();
      }
    });
  });
</script>
