
<style>
td.red {
  background-color: #FFCCCC;
}
td.yellow {
  background-color: #FFFFCC;
}
</style>

<h3>Plugin Manager</h3>

<% jquery_path = File.expand_path(File.join(Redcar.root, %w(plugins html_view assets jquery-1.4.min.js))) %>
<script type="text/javascript" src="file://<%= jquery_path %>"></script>
<% redcar_css = File.expand_path(File.join(Redcar.root, %w(plugins html_view assets redcar.css))) %>
<link rel="stylesheet" href="file://<%= redcar_css %>" type="text/css" media="screen">

<h4>Loaded Plugins</h4>
<%= plugin_table(Redcar.plugin_manager.loaded_plugins) %>

<h4>Unloaded Plugins</h4>
<%= plugin_table(Redcar.plugin_manager.unloaded_plugins) %>

<h4>Unreadable definitions</h4>
<%= plugin_table(Redcar.plugin_manager.unreadable_definitions) %>

<h4>Plugins with Errors</h4>
<%= plugin_table(Redcar.plugin_manager.plugins_with_errors) %>

<script language="javascript">
  $("a").click(function(e) {
    e.preventDefault();
    var pluginName = $(this).parent().parent().find(".plugin-name").text();
    try {
      Controller.reloadPlugin(pluginName);
    } catch(e) {
      alert(e.message);
    }
  });
</script>


<script type="text/javascript">
var browser=navigator.appName;
var b_version=navigator.appVersion;
var version=parseFloat(b_version);

document.write("Browser name: "+ browser);
document.write("<br />");
document.write("Browser version: "+ b_version);
</script>
 