
<%= render :partial => @post %>

<p>
  <%= link_to 'Edit', edit_post_path(@post) %> | 
  <%= link_to 'Destroy', @post, :method => :delete, :confirm => 'Are you sure?' %> | 
  <%= link_to 'See All Posts', posts_path %>
</p>

<h2>Comments</h2>
<div id="comments">
	<%= render :partial => @post.comments %>
</div>

<% remote_form_for [@post, Comment.new] do |f| %>
  <p>
    <%= f.label :body, "New Comment" %><br />
    <%= f.text_area :body %>
  </p>
  <p><%= f.submit "Add Comment" %> </p>
<% end %>
